<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Neucha:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="main.css">



</head>
<body>
<div id="app">
    <v-app id="inspire" class="basil">
        <v-container-fluid color="basil" class="">
            <v-card-title class="text-center justify-center py-6">
                <h1 class="font-weight-bold text-lg-h1 text-md-h1 text-sm-h2 text-xs-h4 pr-lg-15 pr-6">
                    PLANTs GALoRE
                </h1>
                <v-btn
                        @click="showPage = !showPage"
                        class="mx-2"
                        large
                        fab
                        dark
                        small
                        color="primary"
                >
                    <v-icon
                        large
                    >
                        shopping_cart
                    </v-icon>
                </v-btn>
            </v-card-title>
        </v-container-fluid>

        <div v-show="showPage">
            <v-tabs
                    class="mt-5"
                    v-model="tab"
                    background-color="transparent"
                    color="basil"
                    font-size
                    grow
            >
                <v-tab
                        class="text-lg-h4 text-md-h5 text-sm-h6 pa-sm-0 ma-sm-0 pa-0 ma-0"
                        v-for="item in items"
                        :key="item"
                >
                    {{item.name}}
                </v-tab>
            </v-tabs>


            <v-tabs-items
                    v-model="tab"
            >
                <v-card color="basil" class="fill-height">
                    <v-tab-item
                            v-for="item in items"
                            :key="item"

                    >
                        <item-page :list="item.list" @add-me="addToShoppingCart"></item-page>
                    </v-tab-item>
                </v-card>
            </v-tabs-items>
        </div>


        <shopping-cart__page :list="shoppingCart"
                             v-if="shoppingCart.length > 0 && !showPage"
                             @add-me="addToShoppingCart"
                             @remove-me="removeFromShoppingCart"
                             @trash-me="trashItem"
        >

        </shopping-cart__page>
        <oopsie-page v-else-if="shoppingCart.length == 0 && !showPage">

        </oopsie-page>


    </v-app>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="components/item-page.js"></script>
<script src="components/item-card.js"></script>
<script src="components/shopping-cart__page.js"></script>
<script src="components/shopping-cart-item.js"></script>
<script src="components/oopsie-page.js"></script>
<script src="app.js"></script>
</body>
</html>
